@inherits LayoutComponentBase
@inject IStringLocalizer<MainLayout> Localizer
@inject IJSRuntime JS

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <select @onchange="ChangeCulture">
                <option value="en">English</option>
                <option value="es">Español</option>
            </select>
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private async Task ChangeCulture(ChangeEventArgs e)
    {
        var culture = new CultureInfo(e.Value!.ToString()!);
        CultureInfo.DefaultThreadCurrentCulture = culture;
        CultureInfo.DefaultThreadCurrentUICulture = culture;
        await JS.InvokeVoidAsync("eval", "location.reload()");
    }
}